body {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.btn {
    margin: 1%;
}
.checkbox {
    zoom: 1.5;
}
ul {
    margin: 20px 50px;
    padding: 0;
}
li {
    margin-top: 10px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item {
    margin: 0;
}
input {
    border-radius: 5px;
}
button {
    border-radius: 5px;
}
.delete_btn {
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #FF0000;
}
